@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container, .input {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.container {
  margin: 1rem;
}

.input {
  font-size: 2rem;
  width: 100%;
}

.checkbox {
  transform: scale(1.5);
  margin: 0.5rem;
  vertical-align: middle;
}

.label {
  color: #AAAAAA;
}